<p>ForgeThing is a simple todo list application.</p>

<p>If you're tired of using pencil and notebook to take simple todos, ForgeThing is just for you</p>

Start using ForgeThing:
<%= render 'devise/menu/registration_items' %>
or
<%= render 'devise/menu/login_items' %>

