<p>ForgeThing is a simple todo list application.</p>

<p>If you're tired of using pencil and notebook to take simple todos, ForgeThing is just for you</p>

Start using ForgeThing:
<%= render 'devise/menu/registration_items' %>
or
<%= render 'devise/menu/login_items' %>
<br>
<br>

<!-- <div id="banner"><a href="https://github.com/xaph/forgething/">Fork me on GitHub</a></div>
<br> -->
<iframe src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/forgethingapp"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px;"></iframe>

<br>

<a href="https://twitter.com/forgething" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @forgething</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
