// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.todo {
  font-size: 18px;
  .created_at {
    color: #999;
    font-size: 12px;
  }
}
