// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.todo {
  font-size: 18px;
  border-top: 1px solid #DDDDDD;
  .name {
    float: left;
    padding: 15px 0px;
    margin-left: 10px;
  }
  .created_at {
    width: 100px;
    color: #999;
    font-size: 12px;
    float: right;
  }
}
.todo_tags {
  font-size: 12px;
  color: gray;
}
